@{
    ViewData["Title"] = "SprintTasks";
}

<div>
    <h1>SprintTasks</h1>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Greetings</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Products</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Supermarkets</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Shopping list</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Shopping cart</a>
        </div>
    </nav>

</div>

