@{
    ViewData["Title"] = "SprintTasks";
}

<div class="d-flex flex-column align-items-start gap-2 mt-4">
    <h1 class="display-2 fw-bold">Sprint13. Tasks</h1>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="../Tasks/Greetings">Greetings</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="../Tasks/ProductInfo">Products</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Supermarkets</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Shopping list</a>
        </div>
    </nav>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h2" style="color: black;" href="#">Shopping cart</a>
        </div>
    </nav>

</div>

